---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # System Statistics Logger
  telegraf:
    image: telegraf
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/tick/telegraf.conf:/etc/telegraf/telegraf.conf"
      - /var/run/docker.sock:/var/run/docker.sock
      - /sys:/rootfs/sys:ro
      - /proc:/rootfs/proc:ro
      - /etc:/rootfs/etc:ro
      # - /mnt/nas:/mnt/nas

  # Time Series Data Store
  influxdb:
    image: influxdb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/influxdb:/var/lib/influxdb"
    ports:
      - 8086:8086

  # Define a Chronograf service
  chronograf:
    image: chronograf
    networks:
      - traefik_network
    environment:
      INFLUXDB_URL: http://influxdb:8086
      KAPACITOR_URL: http://kapacitor:9092
    #ports:
      #- "8888:8888"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.chronograf.loadbalancer.server.scheme=http"
      - "traefik.http.services.chronograf.loadbalancer.server.port=8888"
      - "traefik.http.routers.chronograf-http.rule=Host(`chronograf.{{ domain }}`)"
      - "traefik.http.routers.chronograf-http.entrypoints=http"
      - "traefik.http.routers.chronograf-http.middlewares={% if tick.https_only %}redirect@file, {% else %}{% if tick.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.chronograf.rule=Host(`chronograf.{{ domain }}`)"
      - "traefik.http.routers.chronograf.entrypoints=https"
      - "traefik.http.routers.chronograf.middlewares={% if tick.auth %}{% if enable_authelia %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.chronograf.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.chronograf.tls.certresolver=dns"
      - "traefik.http.routers.chronograf.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.chronograf.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.chronograf.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.chronograf-tor-http.rule=Host(`chronograf.{{ tor_domain }}`)"
      - "traefik.http.routers.chronograf-tor-http.entrypoints=http"
      - "traefik.http.routers.chronograf-tor-http.middlewares={% if tick.auth %}{% if enable_authelia %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}

  # Define a Kapacitor service
  kapacitor:
    image: kapacitor:1.3.3
    networks:
      - traefik_network
    environment:
      KAPACITOR_HOSTNAME: kapacitor
      KAPACITOR_INFLUXDB_0_URLS_0: http://influxdb:8086
    #ports:
      #- "9092:9092"